fastapi
uvicorn[standard]
gunicorn
flask
Flask-Migrate
alembic
sqlalchemy
psycopg2-binary
python-dotenv
celery
redis
flower
requests
aiosmtplib
pydantic[email]
authlib
passlib[bcrypt]
python-jose[cryptography]
httpx
loguru
boto3
minio
setuptools
numpy
pandas
fpdf2
python-multipart
folium
